/* .form-row button.send-button {
    padding: 10px 20px!important;
    background: #2DCE98!important;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
} */


/* 
button.add-more {
    background: #2DCE98;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
} */

input[type=checkbox]+label {
    margin: 0.2em;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #AFAFAF;
    border-radius: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    color: red;
}