.container-fluid.auction-cards {
    background: linear-gradient(#FAA51A 300px, #F1F3F9 0px);
    padding-top: 40px;
}

* {
    font-family: 'gotham';
}

i {
    color: #ffffff;
}

.auction-cards img {
    position: relative;
    top: -5px;
}

.img_info {
    position: relative;
    color: #ffffff;
    font-weight: bold;
    left: 10px;
    top: -5px;
}

.pt-10 {
    padding-top: 10px;
}

.title label {
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

.form {
    background: #ffffff;
    border-radius: 5px;
    border: 1px #F7FAFC solid;
    margin: 50px 0px;
    padding: 0px;
}

form {
    margin-top: 40px;
}

.form-title {
    background-color: #F7FAFC;
}

.form-title p {
    font-size: 20px;
    color: #faa51a;
    font-weight: bold;
    font-family: "Gotham";
    padding: 20px 0px;
    margin: auto;
}

.form-group label {
    color: #172b4d;
    font-size: 15px;
}

.form-group input {
    background: #F8FAFC;
    border: none;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px #EBEBEB;
}

.form-group .remove-button {
    margin-top: 35px!important;
    background: #FF4040;
    border: none;
    font-size: 12px;
    border-radius: 2px;
    padding: 3px 20px;
    color: #F5EBEF;
}

::placeholder {
    position: relative;
    /* top: 8px; */
    left: 19px;
    font-size: 15px;
    color: #8898aa;
}


/* ------------------------------------------------
-----------------custom checkbox css------------
------------------------------------------------ */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* .new { padding: 50px; } */

.new .checkbox-group label {
    font-size: 15px;
    line-height: 25px;
    color: #8898aa;
    position: relative;
}

.checkbox-group {
    display: block;
    padding: 0px 40px;
    /* margin-bottom: 15px; */
}

.checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox-group label {
    position: relative;
    cursor: pointer;
}

.checkbox-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #707070;
    margin-right: 5px;
}

.checkbox-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    left: 13px;
    width: 10px;
    height: 20px;
    border: solid #FAA51A;
    border-width: 0 5px 6px 0;
    transform: rotate(45deg);
}

.checkbox-group label {
    color: #172b4d;
    font-size: 15px;
}


/* .checkbox-group input {
    background: #F8FAFC;
    border: none;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px #EBEBEB;
} */


/* -----------------------------------
-----------custom-radio css--------
-------------------------------------- */

.form-row .radio-buttons {
    border: none;
    padding: 20px;
}

.radio-buttons label {
    color: #8898AA;
    padding-left: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #BCC5CF;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #A7A7A7;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #FAA51A;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-group.attach-files label {
    color: #FAA51A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    /* background: red; */
    padding-top: 40px;
    padding-left: 10px;
}

.attach-files input {
    border-radius: 2px;
    padding-top: 40px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    background: #2DCE98;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    outline: none;
    padding: 10px 30px;
    position: relative;
    vertical-align: middle;
}

.form-group textarea {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    box-shadow: 3px 3px #EBEBEB;
}

.buttons {
    margin-top: 30px;
}

.update-button,
.red-button {
    background-color: #2DCE98;
    padding: 10px 30px;
    color: white;
    font-size: 13px;
    font-family: 'Gotham-Bold';
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px #EBEBEB;
}

.red-button {
    background-color: #FF4040;
    padding: 10px 25px;
}


/* -----------------------------------
-----------custom-dropdown css--------
-------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrapper {
    z-index: 10;
}

.wrapper label {
    color: #172b4d;
    font-size: 15px;
}

.select_wrap {
    margin: auto;
    position: relative;
}

.select_wrap .default_option {
    background: #F6F6F6;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #E6E6E6;
    font-size: 15px;
    border-bottom: 1px solid #DBDBDB;
    position: relative;
    cursor: pointer;
}

.select_wrap .default_option p {
    /* margin-left: -5px; */
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 15px;
    color: #8898aa;
}

.select_wrap .default_option li {
    padding: 6px 20px;
}

.select_wrap .default_option:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 10px;
    width: 10px;
    height: 9px;
    border: 2px solid;
    border-color: transparent transparent #B5B5B5 #B5B5B5;
    transform: rotate(-45deg);
}

.select_wrap .select_ul {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #F7F7F7;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
}

.select_wrap .select_ul li {
    padding: 5px;
    font-size: 15px;
    border-bottom: 1px solid #DBDBDB;
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
    color: #ADB8C5;
}

.select_wrap .select_ul .list:hover {
    background: #FAA51A;
    color: #FFFAF1;
}

.select_wrap .select_ul li:hover {
    border: none;
    color: #FFFAF1;
    border: 1px solid #FAA51A;
    margin-top: 0px;
}

.select_wrap .option {
    display: flex;
    align-items: center;
}

.select_wrap.active .select_ul {
    display: block;
}

.select_wrap.active .default_option:before {
    /* top: 25px; */
    transform: rotate(-225deg);
}


/* -----------------------------------
-----------approve-auction css--------
-------------------------------------- */

.table-form {
    background: #ffffff;
    border-radius: 5px;
    margin-top: 40px;
    padding-bottom: 30px;
    border: none;
}

.table-form .list-title p {
    font-size: 20px;
    color: #faa51a;
    font-weight: bold;
    font-family: "Gotham";
    padding: 20px 0px;
    margin: 20px;
}

thead tr {
    background-color: #F1F3F9;
}

th {
    font-size: 14px;
    color: #93A1B2;
    font-weight: bold;
}

td {
    color: #8898AA;
    font-size: 14px;
}

tbody td {
    padding-bottom: 20px!important;
}

tbody tr:nth-child(odd) {
    background-color: #F7FAFC!important;
}

td button {
    background-color: #646DE4;
    width: 82px;
    height: 26px;
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #646de4;
    box-shadow: 0px 3px 3.5px rgba(44, 40, 40, 0.11);
}


/* -----------------------------------
-----------auction-list css--------
-------------------------------------- */

.delete-button {
    background-color: #FE0909!important;
    border: 1px solid #FE0909!important;
    margin-top: 10px;
    /* margin-left: 25px;
    position: relative; */
}

td button {
    margin-left: 25px;
    position: relative;
}

td img {
    position: absolute;
}


/* -----------------------------------
-----------sidebar css--------
-------------------------------------- */


/* .container-fluid .sidebar {
    background-color: red;
} */

.container-fluid.sidebar_card {
    padding: 40px 15px;
}

.sidebar {
    background: yellow;
}

.sidebar img {
    width: 80px;
    height: 80px;
}

.sidebar_card .row label {
    margin-top: 30px;
    padding: 20px;
    padding-right: 190px;
    background-color: #F6F9FC;
    border-radius: 5px;
    font-size: 17px;
    line-height: 20px;
    color: #faa51a;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}